[Unit]
Description=Prowlarr
After=backend-network.service
Requires=prowlarr-config.volume

[Container]
Image=zot.innokentii-kozlov.com/docker/linuxserver/prowlarr:2.6.5
ContainerName=prowlarr
Network=backend.network
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Helsinki
Environment=PROWLARR__AUTH__METHOD=External
Environment=PROWLARR__AUTH__REQUIRED=DisabledForLocalAddresses
Environment=PROWLARR__APP__LAUNCHBROWSER=False
Secret=prowlarr-PROWLARR__AUTH__APIKEY,type=env,target=PROWLARR__AUTH__APIKEY
Volume=prowlarr-config:/config:z
HealthCmd=curl -fsS http://localhost:9696/ping
HealthInterval=30s
HealthRetries=3
HealthStartPeriod=2m
HealthTimeout=10s

[Service]
Restart=always

[Install]
WantedBy=default.target
