[Unit]
Description=Forgejo
After=backend-network.service forgejo-postgresql.service
Requires=forgejo-data.volume

[Container]
Image=zot.innokentii-kozlov.com/codeberg/forgejo/forgejo:15.0.4
ContainerName=forgejo
Network=backend.network
Network=frontend.network
PublishPort=2222:22
Environment=USER_UID=1001
Environment=USER_GID=1001
Environment=FORGEJO__database__DB_TYPE=postgres
Environment=FORGEJO__database__HOST=forgejo-postgresql:5432
Environment=FORGEJO__server__ROOT_URL=https://forgejo.innokentii-kozlov.com/
Environment=FORGEJO__server__DOMAIN=forgejo.innokentii-kozlov.com
Environment=FORGEJO__server__HTTP_PORT=3000
Environment=FORGEJO__server__SSH_DOMAIN=git.innokentii-kozlov.com
Environment=FORGEJO__server__SSH_PORT=2222
Environment=FORGEJO__server__SSH_LISTEN_PORT=22
Environment=FORGEJO__security__INSTALL_LOCK=true
Environment=FORGEJO__webhook__ALLOWED_HOST_LIST=private
Environment=FORGEJO__metrics__ENABLED=true
Secret=forgejo-FORGEJO__database__NAME,type=env,target=FORGEJO__database__NAME
Secret=forgejo-FORGEJO__database__USER,type=env,target=FORGEJO__database__USER
Secret=forgejo-FORGEJO__database__PASSWD,type=env,target=FORGEJO__database__PASSWD
Secret=forgejo-FORGEJO__security__SECRET_KEY,type=env,target=FORGEJO__security__SECRET_KEY
Secret=forgejo-FORGEJO__security__INTERNAL_TOKEN,type=env,target=FORGEJO__security__INTERNAL_TOKEN
Volume=forgejo-data.volume:/data

[Service]
Restart=always

[Install]
WantedBy=default.target
