[Unit]
Description=Blocky

[Container]
Image=docker.io/spx01/blocky
ContainerName=blocky
HostName=blocky-hostname
PublishPort=53:53/tcp
PublishPort=53:53/udp
Network=podman
Environment=TZ=Europe/Helsinki
Volume=/etc/localtime:/etc/localtime:ro
Volume=%h/.config/config/blocky/config.yml:/app/config.yml:ro,Z

[Service]
Restart=unless-stopped
