[Unit]
Description=Transmission
After=backend-network.service
Requires=transmission-config.volume transmission-downloads.volume

[Container]
Image=zot.innokentii-kozlov.com/docker/linuxserver/transmission:4.1.3
ContainerName=transmission
Network=backend.network
Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Europe/Helsinki
Secret=transmission-USER,type=env,target=USER
Secret=transmission-PASS,type=env,target=PASS
Volume=transmission-config:/config:z
Volume=transmission-downloads:/downloads:z

[Service]
Restart=always

[Install]
WantedBy=default.target
