---
- name: Start kind cluster
  hosts: localhost
  tasks:
    - name: Template cluster configuration
      ansible.builtin.template:
        src: cluster.yaml.j2
        dest: /tmp/cluster.yaml

    - name: Create kind cluster
      ansible.builtin.command: /usr/local/bin/kind create cluster --config=/tmp/cluster.yaml

- name: Install KubeVirt, KubeVirt CDI
  hosts: localhost
  gather_facts: false
  vars:
    kubevirt_release: v1.7.0
  tasks:
    - name: Install KubeVirt operator
      kubernetes.core.k8s:
        state: present
        src: "https://github.com/kubevirt/kubevirt/releases/download/{{ kubevirt_release }}/kubevirt-operator.yaml"

    - name: Install KubeVirt CR
      kubernetes.core.k8s:
        state: present
        src: "https://github.com/kubevirt/kubevirt/releases/download/{{ kubevirt_release }}/kubevirt-cr.yaml"

    - name: Install KubeVirt CDI operator
      kubernetes.core.k8s:
        state: present
        src: "kubectl create -f https://github.com/kubevirt/containerized-data-importer/releases/download/{{ kubevirt_release }}/cdi-operator.yaml"

    - name: Install KubeVirt CDI CR
      kubernetes.core.k8s:
        state: present
        src: "kubectl create -f https://github.com/kubevirt/containerized-data-importer/releases/download/{{ kubevirt_release }}/cdi-cr.yaml"
