[Unit]
Description=Blocky

[Container]
Image=zot.innokentii-kozlov.com/docker/spx01/blocky
ContainerName=blocky
HostName=blocky-hostname
PublishPort=192.168.40.118:53:53/tcp
PublishPort=192.168.40.118:53:53/udp
Network=frontend.network
Environment=TZ=Europe/Helsinki
Volume=/etc/localtime:/etc/localtime:ro
Volume=%h/.config/config/blocky/config.yml:/app/config.yml:ro,z

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
