[Unit]
Description=Caddy

[Container]
Image=codeberg.org/kesha123/home-lab/caddy-route53:0.0.0
ContainerName=caddy
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp
Network=homelab.network
Volume=%h/.config/config/caddy/Caddyfile:/etc/caddy/Caddyfile:ro,z
Volume=caddy_data:/data
Volume=caddy_config:/config
Secret=AWS_ACCESS_KEY_ID,type=env,target=AWS_ACCESS_KEY_ID
Secret=AWS_SECRET_ACCESS_KEY,type=env,target=AWS_SECRET_ACCESS_KEY
Secret=AWS_REGION,type=env,target=AWS_REGION

[Service]
Restart=always

[Install]
WantedBy=default.target
