[Unit]
Description=Node Exporter
After=backend-network.service

[Container]
Image=zot.innokentii-kozlov.com/docker-images/prom/node-exporter:latest
ContainerName=monitoring-node-exporter
Network=backend.network
Volume=/proc:/host/proc:ro
Volume=/sys:/host/sys:ro
Volume=/:/rootfs:ro
Exec=--path.procfs=/host/proc --path.sysfs=/host/sys --path.rootfs=/rootfs

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
