version: 2
ethernets:
  {{ input_vars.network.interface }}:
    match:
      macaddress: "{{ input_vars.network.macaddress }}"
    dhcp4: {{ input_vars.network.dhcp4 }}
    addresses:
      - {{ input_vars.network.address }}
    routes:
      - to: default
        via: {{ input_vars.network.gateway }}
    nameservers:
      addresses:
        - {{ input_vars.dns }}
