[Unit]
Description=Forgejo PostgreSQL
After=backend-network.service
Requires=forgejo-postgresql-data.volume

[Container]
Image=zot.innokentii-kozlov.com/docker/library/postgres:16-alpine
ContainerName=forgejo-postgresql
Network=backend.network
Environment=POSTGRES_DB=forgejo
Secret=forgejo-FORGEJO__database__USER,type=env,target=POSTGRES_USER
Secret=forgejo-FORGEJO__database__PASSWD,type=env,target=POSTGRES_PASSWORD
Volume=forgejo-postgresql-data.volume:/var/lib/postgresql/data
HealthCmd=pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
HealthInterval=30s
HealthTimeout=5s
HealthStartPeriod=20s
HealthRetries=5

[Service]
Restart=always

[Install]
WantedBy=default.target
