[Unit]
Description=Grafana
After=backend-network.service
Requires=grafana-data.volume

[Container]
Image=zot.innokentii-kozlov.com/docker/grafana/grafana-oss:13.0.1
ContainerName=grafana
Network=frontend.network
Network=backend.network
Volume=%h/.config/config/grafana/provisioning:/etc/grafana/provisioning:z
Volume=%h/.config/config/grafana/dashboards:/etc/grafana/dashboards:z
Volume=%h/.config/config/grafana/grafana.ini:/etc/grafana/grafana.ini:z
Volume=grafana-data:/var/lib/grafana:z
Environment=GF_INSTALL_PLUGINS=grafana-piechart-panel
Secret=grafana-GF_AUTH_GENERIC_OAUTH_CLIENT_ID,type=env,target=GF_AUTH_GENERIC_OAUTH_CLIENT_ID
Secret=grafana-GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET,type=env,target=GF_AUTH_GENERIC_OAUTH_CLIENT_SECRET

[Service]
Restart=always

[Install]
WantedBy=default.target
