[Unit]
Description=Authentik PostgreSQL
Requires=postgresql_data.volume

[Container]
Image=zot.innokentii-kozlov.com/docker-images/library/postgres:16-alpine
ContainerName=authentik-postgresql
Network=homelab.network
Environment=POSTGRES_DB=authentik
Secret=authentik-pg-user,type=env,target=POSTGRES_USER
Secret=authentik-pg-pass,type=env,target=POSTGRES_PASSWORD
Volume=postgresql_data.volume:/var/lib/postgresql/data
HealthCmd=pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}
HealthInterval=30s
HealthTimeout=5s
HealthStartPeriod=20s
HealthRetries=5

[Service]
Restart=always

[Install]
WantedBy=default.target