[Unit]
Description=Authentik Server
After=postgresql.service

[Container]
Image=zot.innokentii-kozlov.com/ghcr-images/goauthentik/server:2026.5.0
ContainerName=authentik-server
Network=homelab.network
Environment=AUTHENTIK_POSTGRESQL__HOST=authentik-postgresql
Environment=AUTHENTIK_LISTEN__HTTP=0.0.0.0:9000
Environment=AUTHENTIK_POSTGRESQL__PORT=5432
Secret=authentik-pg-name,type=env,target=AUTHENTIK_POSTGRESQL__NAME
Secret=authentik-pg-user,type=env,target=AUTHENTIK_POSTGRESQL__USER
Secret=authentik-pg-pass,type=env,target=AUTHENTIK_POSTGRESQL__PASSWORD
Secret=authentik-secret-key,type=env,target=AUTHENTIK_SECRET_KEY
Volume=%h/.local/share/containers/authentik/data:/data
Volume=%h/.local/share/containers/authentik/templates:/templates
ShmSize=512m
Exec=server

[Service]
Restart=always

[Install]
WantedBy=default.target