[Unit]
Description=Zot Registry

[Container]
Image=ghcr.io/project-zot/zot:v2.1.16
ContainerName=zot
Network=infrastructure
Volume=%h/.config/config/zot/config.json:/etc/zot/config.json:ro,z
Volume=zot_data:/var/lib/registry
HealthCmd=/bin/sh -c 'curl -f http://localhost:5000/readyz || exit 1'
HealthInterval=1h
HealthTimeout=10s
HealthRetries=3

[Service]
Restart=always

[Install]
WantedBy=default.target
