zot.innokentii-kozlov.com {
    tls {
        dns route53 {
            hosted_zone_id Z07266063B6JW9NSLBQB
        }
        resolvers 8.8.8.8 1.1.1.1
    }
    reverse_proxy zot:5000
}

authentik.innokentii-kozlov.com {
    tls {
        dns route53 {
            hosted_zone_id Z07266063B6JW9NSLBQB
        }
        resolvers 8.8.8.8 1.1.1.1
    }
    reverse_proxy authentik-server:9000
}

blocky.innokentii-kozlov.com {
    tls {
        dns route53 {
            hosted_zone_id Z07266063B6JW9NSLBQB
        }
        resolvers 8.8.8.8 1.1.1.1
    }
    reverse_proxy blocky:4000
}

grafana.innokentii-kozlov.com {
    tls {
        dns route53 {
            hosted_zone_id Z07266063B6JW9NSLBQB
        }
        resolvers 8.8.8.8 1.1.1.1
    }
    reverse_proxy grafana:3000
}

forgejo.innokentii-kozlov.com {
    tls {
        dns route53 {
            hosted_zone_id Z07266063B6JW9NSLBQB
        }
        resolvers 8.8.8.8 1.1.1.1
    }
    reverse_proxy http://raspberrypi-5.innokentii-kozlov.com {
        header_up Host forgejo.innokentii-kozlov.com
    }
}

ci-lab.innokentii-kozlov.com {
    tls {
        dns route53 {
            hosted_zone_id Z07266063B6JW9NSLBQB
        }
        resolvers 8.8.8.8 1.1.1.1
    }
    reverse_proxy 192.168.122.10:80
}
