#cloud-config

growpart:
  mode: auto
  devices: ['/']

preserve_hostname: false
hostname: {{ cloud_init.hostname }}
fqdn: {{ cloud_init.hostname }}

package_update: true
package_upgrade: true
packages:
  - curl
  - ufw
  - iptables

locale: fi_FI
timezone: Europe/Helsinki

users:
  - name: {{ cloud_init.username }}
    passwd: "{{ cloud_init.password_hash }}"
    groups: sudo, base-devel
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    lock_passwd: false
    ssh_authorized_keys:
      - {{ cloud_init_public_ssh_key.content }}

ssh_pwauth: false
disable_root: true

write_files:
  - path: /boot/firmware/config.txt
    content: |
      dtparam=pciex1_gen=3
    append: true
  - path: /boot/firmware/cmdline.txt
    content: |
      cgroup_memory=1 cgroup_enable=memory
    append: true

runcmd:
  - |
{{ disk_setup_script | indent(4, true) }}
  - |
{{ firewall_setup_script | indent(4, true) }}

final_message: "The system is finally up, after $UPTIME seconds"
