#cloud-config

growpart:
  mode: auto
  devices: ['/']
  ignore_check: false

preserve_hostname: false
hostname: {{ cloud_init.hostname }}
fqdn: {{ cloud_init.hostname }}

package_update: true
package_upgrade: true
packages:
  - curl
  - ufw
  - iptables
  - cloud-guest-utils

users:
  - name: {{ cloud_init.username }}
    groups: sudo, base-devel
    shell: /bin/bash
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    lock_passwd: true
    ssh_authorized_keys:
      - {{ public_ssh_key.content }}

ssh_pwauth: false
disable_root: true

disk_setup:
  /dev/sda:
    table_type: 'mbr'
    layout: true
    overwrite: false

fs_setup:
  - label: storage
    filesystem: ext4
    device: /dev/sda1
    partition: auto

mounts:
  - [ /dev/sda1, /mnt/storage, "ext4", "defaults,noatime", "0", "2" ]

write_files:
  - path: /boot/firmware/config.txt
    content: |
      dtparam=pciex1_gen=3
    append: true
  - path: /boot/firmware/cmdline.txt
    content: |
      cgroup_memory=1 cgroup_enable=memory
    append: true

runcmd:
  - |
{{ disk_setup_script | indent(4, true) }}
  - |
{{ firewall_setup_script | indent(4, true) }}

final_message: "The system is finally up, after $UPTIME seconds"
